<html>
  <head>
  <!--   Meta -->
      <!-- HTML Meta Tags -->
      <title>Wrish</title>
      <meta name="description" content="Quick autosaving notepad">
<!--     Progressive web app tags -->
      <link rel="manifest" href="/manifest.json">
    
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-title" content="Wrish">
      <link rel="apple-touch-icon" href="https://cdn.glitch.com/b266dcf8-f181-4238-b29c-954a054443cb%2Fpencil_270f%20(1)%20(1).png?1525344927546" >
      <link rel="apple-touch-icon" sizes="192x192" href="https://cdn.glitch.com/b266dcf8-f181-4238-b29c-954a054443cb%2Fpencil_270f%20(1)%20(1).png?1525344927546">

      <meta name="msapplication-starturl" content="/?utm_source=homescreen"/>
      <!-- Google / Search Engine Tags -->
      <meta itemprop="name" content="Wrish">
      <meta itemprop="description" content="Quick autosaving notepad">
      <meta itemprop="image" content="https://cdn.glitch.com/b266dcf8-f181-4238-b29c-954a054443cb%2FWricked.%20(1).png?1525276418159">

      <!-- Facebook Meta Tags -->
      <meta property="og:url" content="https://jajoosam.tech/w">
      <meta property="og:type" content="website">
      <meta property="og:title" content="Wrish">
      <meta property="og:description" content="Quick autosaving notepad">
      <meta property="og:image" content="https://cdn.glitch.com/b266dcf8-f181-4238-b29c-954a054443cb%2FWricked.%20(1).png?1525276418159">

      <!-- Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Wrish">
      <meta name="twitter:description" content="Quick autosaving notepad">
      <meta name="twitter:image" content="https://cdn.glitch.com/b266dcf8-f181-4238-b29c-954a054443cb%2FWricked.%20(1).png?1525276418159">
      <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.com/b266dcf8-f181-4238-b29c-954a054443cb%2Fpencil_270f%20(1)%20(1).png?1525344927546"/>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <!--   CSS -->
      <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
      <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
      <link rel="stylesheet" href="styles.css"/>
  </head>
  
  <body>
    <div class="container">
      <div>
        <button id="readonly" title="Read Only Document" style="float:left; display:inline-block" onclick="readonly()">
          👀
        </button>

        
        <button title="Copy Document Link" style="float:right; display:inline-block" id="copyonly" onclick="copy()">
          📋
        </button>
        <button id="newonly" title="New Document" style="background-color:#f0f0f0;margin-left:35%; text-align:center; margin-top:10px; display:inline-block" onclick="window.location.href='https://wrish.xyz'">
          ➕
        </button>
        
      </div>
      
      <div style="clear:both" class="">
        
        <div onkeydown="fin()" id="editor" class="col-6 col-sm-12">
          <h1>Wrish 📝</h1><br>This is a notepad that saves your words to the internet every 3 seconds 🌐<br><br>You can share this link with anyone using the 📋 button. <br> <br>Use 👀 for a read only version.
          <p><br></p>
          <p><br></p>
        </div>
        
      </div>
    </div>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="simplecopy.min.js"></script>
    <script src="app.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57856524-18"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-57856524-18');
    </script>

  </body>
</html>  